<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello traveler!</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/places" method="post">
      <label for="myCityName">Add a new place: </label>
      <input id="myCityName" name="myCityName" type="text">
      <br>
      <label for="myPhoto">Add a photo url: </label>
      <input id="myPhoto" name="myPhoto" type="text">
      <br>
      <label for="myDuration">Add duration of the trip: </label>
      <input id="myDuration" name="myDuration" type="text">
      <br>
      <label for="myCompanion">Add your companion: </label>
      <input id="myCompanion" name="myCompanion" type="text">
      <br>
      <label for="myJournalEntry">Add your notes: </label>
      <input id="myJournalEntry" name="myJournalEntry" type="text">
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
